{% extends "layout.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="content-section p-4 border rounded bg-light">
                    <h1 class="mb-4">Our Mission</h1>
                    <p class="lead">Our mission is to provide a platform where users can share their thoughts, ideas, and experiences through blog posts. We aim to foster a community of engaged and inspired individuals who contribute meaningful content and support one another.</p>
                    <p>At Flask Blog, we believe in the power of words and the impact of sharing knowledge. We are committed to creating a user-friendly environment that encourages creativity and collaboration. Join us on our journey to make the web a more informed and connected place.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}